* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #1a1a1d;
  color: #FFFFFF;
  font-family: 'Courier New', Courier, monospace;
}


dialog {
  padding: 15px;
  margin: auto;
  border-radius: 8px;
  width: min(600px, 90%);
  border: none;
}

dialog h3 {
  text-align: center;
  font-size: 18pt;
  margin: 20px 0 30px;
}

dialog button {
  border-radius: 8px;
  background-color: #fd9d03;
  width: 100%;
}


button,
input {
  background-color: #E5E5E5;
  border: inherit;
  padding: 10px;
  font-size: 14pt;
  font-family: 'Courier New', Courier, monospace;
}

#container .form {
  display: flex;
  justify-content: center;
}

.form input {
  border: 2px solid #fd9d03;
  outline-color: #fd9d03;
  width: 100%;
  border-radius: 8px 0 0 8px;
}

.form button {
  background-color: #fd9d03;
  border-radius: 0 8px 8px 0;
}

button:hover {
  cursor: pointer;
  filter: brightness(70%);
}

#result {
  font-size: 16pt;
}

#container {
  margin: auto;
  width: min(600px, 80%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}


h1 {
  text-align: center;
}